body {
    background-color: #f0f0f0;
    margin: 0px auto;
    min-height: 100vh;
    background-color: #444444;
    font-family: "Circular", sans-serif;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/circular-book.otf") format("opentype");
}

/************************NAV************************/
.nav{
    height: 80px;
    background-color: #444444;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    position: relative;
}

.nav-icon{
    width: 60px;
    padding: 10px;
    background: #fffc00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fffc00, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fffc00, #ffffff);
    display: inline-block;
}

.nav-text{
    display: inline-block;
    color: white;
    letter-spacing: 1px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    vertical-align: middle;
    padding-bottom: 70px;
}

/************************LOL************************/

#overlay, #webgl {
    width: 100%;
    position: absolute;
    filter: brightness(.8);
    top: 0px;
    left: 0px;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/
}

#videoel {
    width: 100%;
    height: auto;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/

}

#container {
    position : relative;
}

#content {
    margin-top : 50px;
    margin-left : auto;
    margin-right : auto;
    max-width: 900px;
}

#controls{
    text-align: center;
    margin: 20px;
}

#controls a{
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 20px;
    border-radius: 20px;
    transition: 0.2s;
}

#controls a:hover{
    background-color: #aaaaaa;
    transition: 0.2s;
}

.masks{
    display: none;
}

.column{
    width: 45%;
    padding: 0 2.5%;
    display: inline-block;
    vertical-align: top;
}

.hidden{
    display: none;
    opacity: 0;
}

.column canvas{
    width: 100%;
    height: auto;
}

.column-title, #nomask-json, #combine-json{
    color: white;
}

@media (max-width: 800px){
    .column{
        width: 90%;
        padding: 0 5%;
    }
}