body {
    background-color: #f0f0f0;
    margin: 0px auto;
    min-height: 100vh;
    background-color: #444444;
    font-family: "Circular", sans-serif;
}

@font-face {
  font-family: "Circular";
  src: url("../fonts/circular-book.otf") format("opentype");
}

/************************NAV************************/
.nav{
    height: 80px;
    background-color: #444444;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,0.06), 0 4px 5px 0 rgba(0,0,0,0.06), 0 1px 10px 0 rgba(0,0,0,0.08);
    position: relative;
}

.nav-icon{
    width: 60px;
    padding: 10px;
    background: #fffc00; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #fffc00, #ffffff); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #fffc00, #ffffff);
    display: inline-block;
}

.nav-text{
    display: inline-block;
    color: white;
    letter-spacing: 1px;
    margin: 0;
    margin-left: 20px;
    padding: 0;
    vertical-align: middle;
    padding-bottom: 70px;
}

/************************LOL************************/

#overlay, #webgl {
    position: absolute;
    top: 0px;
    left: 0px;
    opacity: 0.5;
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/

}

#videoel {
    -o-transform : scaleX(-1);
    -webkit-transform : scaleX(-1);
    transform : scaleX(-1);
    -ms-filter : fliph; /*IE*/
    filter : fliph; /*IE*/

}

#container {
    position : relative;
    width : 667px;
}

#content {
    margin-top : 50px;
    margin-left : auto;
    margin-right : auto;
    max-width: 1150px;
}


.masks{
    display: none;
}

#webgl2 {
    display : none;
}